# Introduction

In this case, one will be transforming a dataset that was created with some problems.

In [1]:
import pandas as pd
URL = 'https://caelum-online-public.s3.amazonaws.com/2925-introducao-pandas/banco_clientes.csv'
data = pd.read_csv(URL)
data

                 nome                               endereco         telefone
0        Paulo Hammer        Rua 22 de Abril, 52614-524 1234    11 99548-2578
1      JonaS da Silva    Rua Alvarenga Borges, 573 29285-678    11 99999-1234
2        Maria Santos         Av. Bom Sucesso 1283 87654-321    11 98765-4321
3   pedro albuquerque             Rua Colombo, 789 45678-912    11 91234-5678
4        ana oliveira          Rua Dinamarca, 1011 34567-890    11 99876-5432
5      José Fernandes            Av. Ermeson, 23456-789 1213  (11) 97654-3210
6     mariana castro            Rua das Flores, 15 56789-123    11 95555-6789
7         LUCAS SOUZA         Av. Governador, 1617 67890-234    11 94444-5678
8        Carla santos         Rua Helio Gracie, 19 78901-345    11 93333-4567
9      Felipe Martins      Av. 28 de Novembro, 221 89012-456  (11) 92222-7890
10     Amanda Pereira                Rua Joana 423 90123-567    11 91111-2345
11       Rafaela Lima              Av. Brasil, 245 01234-567  (11) 90000-5678
12      Eduardo Silva        Rua do Lamparao, 2627 12345-678  (11) 98888-9012
13  Gustavo Rodrigues       Rua do Chuvisco , 2829 23456-789  (11) 97777-2345
14     Fernanda Costa           Av. Goytacaz, 3031 34567-890    11 96666-5678
15      Renato Santos        Av. Areia Negra, 45678-912 3233  (11) 95555-9012
16    Letícia Ribeiro      Rua das Palmeiras, 3435 56789-123    11 94444-2345
17        Maria Silva              Av. Oliva, 3637 67890-234  (11) 93333-5678
18   Isabela Oliveira               Rua Peri , 339 78901-345    11 92222-9012
19        Bruno Costa           Av. Balestrin 1337 89012-456    11 91111-2345
20     Vanessa Santos  Rua Nicolau Copérnico, 90123-567 1543  (11) 90000-5678

The problems of this dataset are Case in the nome columns, and () in the phone column.

To fix those problems one will put each name in the nome column in uppercase and remove all () from the phone column.

In [2]:
data['nome'] = data['nome'].str.upper()
data.head()

                nome                             endereco       telefone
0       PAULO HAMMER      Rua 22 de Abril, 52614-524 1234  11 99548-2578
1     JONAS DA SILVA  Rua Alvarenga Borges, 573 29285-678  11 99999-1234
2       MARIA SANTOS       Av. Bom Sucesso 1283 87654-321  11 98765-4321
3  PEDRO ALBUQUERQUE           Rua Colombo, 789 45678-912  11 91234-5678
4       ANA OLIVEIRA        Rua Dinamarca, 1011 34567-890  11 99876-5432

In [3]:
data['telefone'] = data['telefone'].str.replace('\(|\)','', regex=True)
data

                 nome                               endereco       telefone
0        PAULO HAMMER        Rua 22 de Abril, 52614-524 1234  11 99548-2578
1      JONAS DA SILVA    Rua Alvarenga Borges, 573 29285-678  11 99999-1234
2        MARIA SANTOS         Av. Bom Sucesso 1283 87654-321  11 98765-4321
3   PEDRO ALBUQUERQUE             Rua Colombo, 789 45678-912  11 91234-5678
4        ANA OLIVEIRA          Rua Dinamarca, 1011 34567-890  11 99876-5432
5      JOSÉ FERNANDES            Av. Ermeson, 23456-789 1213  11 97654-3210
6     MARIANA CASTRO            Rua das Flores, 15 56789-123  11 95555-6789
7         LUCAS SOUZA         Av. Governador, 1617 67890-234  11 94444-5678
8        CARLA SANTOS         Rua Helio Gracie, 19 78901-345  11 93333-4567
9      FELIPE MARTINS      Av. 28 de Novembro, 221 89012-456  11 92222-7890
10     AMANDA PEREIRA                Rua Joana 423 90123-567  11 91111-2345
11       RAFAELA LIMA              Av. Brasil, 245 01234-567  11 90000-5678
12      EDUARDO SILVA        Rua do Lamparao, 2627 12345-678  11 98888-9012
13  GUSTAVO RODRIGUES       Rua do Chuvisco , 2829 23456-789  11 97777-2345
14     FERNANDA COSTA           Av. Goytacaz, 3031 34567-890  11 96666-5678
15      RENATO SANTOS        Av. Areia Negra, 45678-912 3233  11 95555-9012
16    LETÍCIA RIBEIRO      Rua das Palmeiras, 3435 56789-123  11 94444-2345
17        MARIA SILVA              Av. Oliva, 3637 67890-234  11 93333-5678
18   ISABELA OLIVEIRA               Rua Peri , 339 78901-345  11 92222-9012
19        BRUNO COSTA           Av. Balestrin 1337 89012-456  11 91111-2345
20     VANESSA SANTOS  Rua Nicolau Copérnico, 90123-567 1543  11 90000-5678

## Splitting the address column

The endereco column has the address of each client. The address is currently composed of a single string and this could be splitted into Street, House Number and postal code.

In [14]:
data['Postal_code'] = data['endereco'].str.split('(\d{5}-\d{3})', regex=True, expand=True)[1].str.strip()
data['Street'] = data['endereco'].str.replace('(\d{5}-\d{3})', '', regex=True).str.strip()
data['Street'] = data['Street'].str.replace(',','').str.strip()
data[['Street', 'Number']] =  data['Street'].str.split('\s(?=\d+$)', regex=True, expand=True)
data.drop('endereco', axis=1, inplace=True)
data

,nome,telefone,Postal_code,Street,Number
0,PAULO HAMMER,11 99548-2578,52614-524,Rua 22 de Abril,1234
1,JONAS DA SILVA,11 99999-1234,29285-678,Rua Alvarenga Borges,573
2,MARIA SANTOS,11 98765-4321,87654-321,Av. Bom Sucesso,1283
3,PEDRO ALBUQUERQUE,11 91234-5678,45678-912,Rua Colombo,789
4,ANA OLIVEIRA,11 99876-5432,34567-890,Rua Dinamarca,1011
5,JOSÉ FERNANDES,11 97654-3210,23456-789,Av. Ermeson,1213
6,MARIANA CASTRO,11 95555-6789,56789-123,Rua das Flores,15
7,LUCAS SOUZA,11 94444-5678,67890-234,Av. Governador,1617
8,CARLA SANTOS,11 93333-4567,78901-345,Rua Helio Gracie,19
9,FELIPE MARTINS,11 92222-7890,89012-456,Av. 28 de Novembro,221
10,AMANDA PEREIRA,11 91111-2345,90123-567,Rua Joana,423
11,RAFAELA LIMA,11 90000-5678,01234-567,Av. Brasil,245
12,EDUARDO SILVA,11 98888-9012,12345-678,Rua do Lamparao,2627
13,GUSTAVO RODRIGUES,11 97777-2345,23456-789,Rua do Chuvisco,2829
14,FERNANDA COSTA,11 96666-5678,34567-890,Av. Goytacaz,3031
15,RENATO SANTOS,11 95555-9012,45678-912,Av. Areia Negra,3233
16,LETÍCIA RIBEIRO,11 94444-2345,56789-123,Rua das Palmeiras,3435
17,MARIA SILVA,11 93333-5678,67890-234,Av. Oliva,3637
18,ISABELA OLIVEIRA,11 92222-9012,78901-345,Rua Peri,339
19,BRUNO COSTA,11 91111-2345,89012-456,Av. Balestrin,1337
20,VANESSA SANTOS,11 90000-5678,90123-567,Rua Nicolau Copérnico,1543

# Conclusions

The data is now transformed and ready to be used. The new pattern allows one to access each part of the client's address, along with the correct value of its phone number.